*
  :font-family "Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif"

body


#wrapper
  :margin auto
  :margin-top 20px
  :width 800px

h1
  :font-size 1.6em

h2
  :font-size 1.4em
ul
  :width 100%
  :float left
  :list-style none
  li
    :margin 0 0 10px 0


ul.block
  :display block
  li
    :display inline
    :margin 0 20px 0 0

label
  :text-align left
  :font-weight bold
  :float left
  :width 200px

a
  :text-decoration none