%footer
  %ul.block
    %li= link_to "How's my validity?" , "http://html5.validator.nu/?doc=http://www.beilabs.com"
    %li
      This site was last updated about
      = render :partial => "shared/last_commit"
      ago
