%section
  %h2
    All of my musings
  - if Post.latest.size==0
    %p No musings yet.
  - else
    %ul
      - Post.latest.each do |post|
        %li.post
          %span.date
            = nice_date( post.created_at )
          = link_to post.title, post_path(post)